<div class="component h600">
    <p class="text-highlight">recipe component</p>

    <input matInput
           placeholder="Recipe"
           type="text"
           value={{searchRecipe}}
    />
    <button mat-raised-button
            (click)="searchYummily()">Yummly</button>

    <!--Recipe View-->
    <div *ngFor="let recipe of recipes" >
        <app-recipe-view [recipe]="recipe"></app-recipe-view>

    </div>

</div>


